

.registration {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 500px;

}

.login {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 500px;
}
button {
  width: fit-content;
}

.eye {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;

}

.inputGroupFile01{
  position: relative;
}

.eye i {
  position: absolute;
  margin-bottom: 38px;
  cursor: pointer;
}

.eye1 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
}

.inputGroupFile02{
  position: relative;
}

.eye1 i {
  position: absolute;
  margin-bottom: 38px;
  cursor: pointer;
}